* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: rgb(52, 86, 139);
  }
  
  /* Header/Blog Title */
  header {
    padding: 30px;
    text-align: center;
    background: RGB(223, 207, 190);
    font-family: Serif;
    color:rgb(52, 86, 139);
    font-size: 60px;
  }
  
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid rgb(255, 255, 255);
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: rgb(172, 172, 172)
  }

  caption {
    font-size: large;
    padding: 4%;
  }
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: rgb(52, 86, 139);
    padding-left: 20px;
  }
  
  .bottomcolumn {
    float: left;
    width: 92.5em;
    background-color: rgb(52, 86, 139);
    padding-left: 0px;
  }
  /* Add a card effect for articles */
  .card {
    background-color: rgb(223, 207, 190);
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
  }

  .card2 {
    background-color: RGB(223, 207, 190);
    padding: 4px;
    margin-top: 20px;
    text-decoration: none;
  }

  .card a{
    text-decoration: none;
  }

  .card a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  .column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  h2{
    font-size: 35px;
    font-family: Monospace;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background-color: RGB(223, 207, 190);
    margin-top: 20px;
  }

  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }